<{capture assign=otherCode}>
  	<style type="text/css">
		.h { background: #4B0082; }
		
		.ui-icon-myapp-settings {
			background: url("./images/add_icon.png") no-repeat rgba(0, 0, 0, 0.4) !important;
		}

	</style>
<style>
    .ui-dialog{
        font-size:80%
    }
</style>
<script>
	function start(selected_typeId,selected_distCode,next_page) {
		var limit=10;
		var xmlurl="activity.php?action=getActivityList&rows="+limit;

		if(selected_typeId!=null){
			xmlurl+='&type='+selected_typeId;
		}
		if(selected_distCode!=null){
			xmlurl+='&district='+selected_distCode;
		}
		if(next_page!=null){
			xmlurl+='&page='+next_page;
		}
		$(document).ready(function(){
			var xml = $.ajax({
			  url: xmlurl,
					async: false
			 }).responseXML;
			 var result="";
			 /*
			 var cols=new Array();
			 cols[0]='';
			 cols[1]='<{"ActivityName"|lang}>';
			 cols[2]='<{"OwnerId"|lang}>';
			 cols[3]='<{"Owner"|lang}>';
			 cols[4]='<{"Credit"|lang}>';
			 cols[5]='<{"VenueId"|lang}>';
			 cols[6]='<{"Venue abbr"|lang}>';
			 cols[7]='<{"Venue name"|lang}>';
			 cols[8]='<{"type"|lang}>';
			 cols[9]='<{"Region"|lang}>';
			 cols[10]='<{"District"|lang}>';
			 cols[11]='<{"Map"|lang}>';
			 cols[12]='<{"date"|lang}>';
			 cols[13]='<{"starttime"|lang}>';
			 cols[14]='<{"endtime"|lang}>';
			*/
			//result+=$(xml).find("row").eq(0).find("cell").eq(0).text();
			 var page=$(xml).find("page").eq(0).text();
			 var totalpage=$(xml).find("total").eq(0).text();
				$("#btnPreNext").html("");
				
				var btnstr="";
				btnstr+='<div align=center>';
				
				if(page>1){
					btnstr+='<a href="#" onclick="'+"start($('.typeId-menu').val(),$('.distCode-menu').val(),"+(parseInt(page)-1)+');" style="font-size:20px;" return false;>&#60;&#60;<{"Prev"|lang}></a> - ';
				}
				if(page<totalpage){
					btnstr+='<a href="#" onclick="'+"start($('.typeId-menu').val(),$('.distCode-menu').val(),"+(parseInt(page)+1)+');" style="font-size:20px;" return false;><{"Next"|lang}>&#62;&#62;</a>';
				}
				btnstr+='</div>';
				$("#btnPreNext").append(btnstr);
				
			 $(xml).find("row").each(function(i){
				var $item = $(this);
				var i=0;
				var activityid=$item.find("cell").eq(0).text();
				var activityname=$item.find("cell").eq(1).text();
				/*
				var ownerid=$item.find("cell").eq(2).text();
				var owner=$item.find("cell").eq(3).text();
				var ownercredit=$item.find("cell").eq(4).text();
				var venueid=$item.find("cell").eq(5).text();
				var venueabbr=$item.find("cell").eq(6).text();
				var venuename=$item.find("cell").eq(7).text();
				var venuetype=$item.find("cell").eq(8).text();
				var region=$item.find("cell").eq(9).text();
				var district=$item.find("cell").eq(10).text();
				var map=$item.find("cell").eq(11).text();
				var date=$item.find("cell").eq(12).text();
				var start=$item.find("cell").eq(13).text();
				var end=$item.find("cell").eq(14).text();
				*/
				
				
				result+='<li><a href="activity.php?action=viewDetail&activityid='+activityid+'" rel=external>'+activityname+'</a></li>';
			 });

			 
			 $("ul").html(result);
			 $("ul").listview('refresh');
		});
	}
	start();

</script>
<{/capture}>
<{include file=header.htm}>
<div data-role="page">
	<div data-role="header" class="h">
		<h1><{"Activity"|lang}></h1>
		<a href="index.php" data-icon="forward" class="ui-btn-left" rel=external><{"Home"|lang}></a>
		<a href="activity.php?action=create" data-icon="myapp-custom" class="ui-btn-right" rel=external><{"Create activity"|lang}></a>
	</div><!-- /header -->
	<div data-role="content" align="center">
		<table width="100%">
			<tr>
				<td>
					<label for="type" class="select"><{"type"|lang}>:</label>
					<select name="type" id="type" class="typeId-menu" style="font-size:15px;">
						<option value="all"><{"all type"|lang}></option>
						<{foreach from=$activityType item=a}>
						<option value="<{$a->getType()}>"><{$a->getName()}></option>
						<{/foreach}>
					</select>
				</td>
				<td>
					<label for="type" class="select"><{"District"|lang}>:</label>
					<select name="district" id="district" class="distCode-menu" style="font-size:15px;">
						<option value="all"><{"all district"|lang}></option>
						<{foreach from=$district item=b}>
						<option value="<{$b->getDistCode()}>"><{$b->getName()}></option>
						<{/foreach}>
					</select>
				</td>
		</table>

		<ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="e"></ul>
		<span id="btnPreNext"></span>
		<br>
    </div>
	<div data-role="footer" style="position:absolute;bottom:0;" class="h">
		<{include file=footer.htm}>
	</div>
</div>
<script>
	$('.typeId-menu').change(function() {
	  start($('.typeId-menu').val(),$('.distCode-menu').val());
	});
	$('.distCode-menu').change(function() {
	  start($('.typeId-menu').val(),$('.distCode-menu').val());
	});
</script>
