<?xml version='1.0' encoding='utf-8'?>
<rows>
    <page>1</page>
    <total>1</total>
    <records>1</records>
    <{section name=i loop=$list}>
    <{assign var="folder" value=$list[i][0]}>
    <row>
        <cell><{$folder->getFolderId()}></cell>
        <cell><{$folder->getName()}></cell>
        <cell><{$list[i][1]}></cell>    <{* level *}>
        <cell><{$list[i][3]}></cell>    <{* parent *}>
        <cell><{$list[i][2]}></cell>    <{* isLeaf *}>
        <cell>true</cell>
    </row>
    <{/section}>
</rows>